.side-list {
    margin-top: 85px;
    width: 23%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: block;
}


.search-box {
    box-sizing: border-box;
    width: 23%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #f1f1f1;
    padding: 20px 20px 10px;
    border-bottom: 4px solid darkgrey;
}

.item {
    display: block;
    color: black;
    text-decoration: none;
    border: 1px #555;
    border-top-style: groove;
    padding: 200px 25px 25px;
}

a {
    display: block;
    color: black;
    padding: 25px;
    text-decoration: none;
    border: 1px #555;
    border-top-style: groove;
}



